

.container{
    display: flex;
    gap: 15px;
    height: 100vh;
}

.block1 {
    display: flex;
    flex-grow: 1;
}
.block2{
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}
.block3{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 15px;
}

.minibox1{
    display: flex;
    flex-grow: 1;
    gap: 15px;
}

.minibox2{
    display: flex;
    flex-grow: 3;
}

.minibox3{
    display: flex;
    flex-grow: 1;
    gap: 15px;
}

.bigbox{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    gap: 15px;
}
.minibox4{
    border: 3px solid yellow;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}

.minibox5{
    display: flex;
    flex-grow: 1;
    gap: 15px;
}

.elem{
    flex-grow: 1;
    background-image: url("https://fastly.picsum.photos/id/11/2500/1667.jpg?hmac=xxjFJtAPgshYkysU_aqx2sZir-kIOjNR9vx0te7GycQ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#elembig{
    flex-grow: 3;
    background-image: url("https://fastly.picsum.photos/id/11/2500/1667.jpg?hmac=xxjFJtAPgshYkysU_aqx2sZir-kIOjNR9vx0te7GycQ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}